<section data-ng-controller="HomeController">
  <div class="page-header">
      <h1>Welcome</h1>
  </div>
  
  <div class="bs-callout bs-callout-info" id="callout-navbar-overflow">
    <div class="alert alert-success text-center">
      <p>This is a demo app for use at Cloud Develop 2014 in Columbus, OH</p>
      <p>The code can be found at <a href="http://github.com/NeverOddOrEven/CloudDevelopTalk">GitHub</a></p>
    </div>
  
    <h3>Usage</h3>
    <ol>
      <li>
        <p>Create an account or login</p>
      </li>
      <li>
        <p>Add a dataset by using the menu links above</p>
      </li>
      <li>
        <p>Add a chart by using the menu links above</p>
      </li>
    </ol>
    
  </div>
  
  
</section>
