<section data-ng-controller="ChartsController" data-ng-init="initializeNewChart()">
    <div class="page-header">
        <h1>New Chart</h1>
        <p>Line charts accept 1 numeric dimension for the Y-Axis. 1+ numeric dimensions for the X-Axis.</p>
        <p>Pie and Bar charts accept 1+ dimensions to form the groupings (X-Axis) and 1 dimension for the magnitude (Y-Axis)</p>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="datasets.length">
    	No Data yet, why don't you <a href="/#!/data/create">create one</a>?
    </div>
    <div class="col-md-12" data-ng-hide="!datasets.length">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <chart-type data-chart-type="chartType"></chart-type>
                </div>
                <div class="form-group">
                    <dataset-select data-sets="datasets" data-set-selection="dataset"></dataset-select>
                </div>
                <div class="form-group">
                    <configure-chart 
                       data-chart-type="chartType" 
                       data-set="dataset" 
                       data-chart-config="chartConfig">
                    </configure-chart>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>