<section data-ng-controller="ChartsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="chart.name"></h1>
	</div>
  <div>
      <chart 
         data-chart-config="chart.configuration" 
         data-chart-data="chart.datum"
         data-chart-type="chart.chartType"/>
  </div>
	<div class="pull-right" data-ng-show="authentication.user._id == chart.user._id">
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="chart.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="chart.user.displayName"></span>
		</em>
	</small>
</section>