<section data-ng-controller="ChartsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="chart.name"></h1>
	</div>
  <div>
    <div data-ng-if="chart.chartType === 'bar'">
      <nvd3-discrete-bar-chart
          data="chart.chartData"
          margin="{left:100,top:100,bottom:50,right:10}"
          showXAxis="true"
          showYAxis="true"
          showValues="true"
          showLegend="true"
          height="400"
          x="pieDimX()"
          y="pieDimY()">
      <svg></svg>
      </nvd3-discrete-bar-chart>
    </div>
    <div ng-if="chart.chartType === 'pie'">
      <nvd3-pie-chart
        id="NoIdeaWhatThisIs"
        data="chart.chartData"
        x="pieDimX()"
        y="pieDimY()"
        height="400"
        showLabels="true"
        pieLabelsOutside="true"
        showValues="true"
        labelType="percent">
      </nvd3-pie-chart>
    </div>
    <div ng-if="chart.chartType === 'line'">
      <nvd3-line-chart
        data="chart.chartData"
        showXAxis="true"
        showYAxis="true"
        height="200"
        yAxisTickValues="[0, 5, 10, 15, 20, 25, 30]"
        tooltips="true"
        useInteractiveGuideline="true">
      </nvd3-line-chart>
    </div>
  </div>
	<div class="pull-right" data-ng-show="authentication.user._id == chart.user._id">
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="chart.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="chart.user.displayName"></span>
		</em>
	</small>
</section>


