<section data-ng-controller="DataController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="datum.name"></h1>
	</div>
  <div style="clear: both;">
    <div ui-grid="gridOptions" ui-grid-cellNav ui-grid-resize-columns class="grid"></div>
  </div>
	<div class="pull-right" data-ng-show="authentication.user._id == datum.user._id">
		<a class="btn btn-primary" href="/#!/data/{{datum._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="datum.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="datum.user.displayName"></span>
		</em>
	</small>
  
</section>