<style>
  .fiveNumberSummary .label {
    font-weight: bold;
    color: #000;
  }
  .fiveNumberSummary .value {
  }
</style>

<div class="fiveNumberSummary">
  <ul>
    <li>
      <span class="label">Minimum:</span><span class="value">{{min}}</span>
    </li>
    <li>
      <span class="label">Q1:</span><span class="value">{{q1}}</span>
    </li>
    <li>
      <span class="label">Median:</span><span class="value">{{median}}</span>
    </li>
    <li>
      <span class="label">Q3:</span><span class="value">{{q3}}</span>
    </li>
    <li>
      <span class="label">Maximum:</span><span class="value">{{max}}</span>
    </li>
  </ul>
</div>